@font-face { font-family: starNormal; src: url(../font/Starjedi.ttf); }

body {
	font-family: starNormal;
	background-image: url("../img/poster3.jpg");
	background-size: cover;
	color: white;
}

#board {
	width: 95%;
	display: flex;
	flex-direction: column;
	padding-left: 3%; 
	font-size: medium;
}

#distance { width: 50%; text-align: center; }

#distance, #calculator, #instructions, #clear {
	font-family: starNormal;
	background-color: rgba(0, 0, 255, 0);
	color: white;
	border: 2px solid white;
	border-radius: 30px;
	font-size: large;
	padding-left: 2%;
	padding-right: 2%;
}

#calculator:hover, #instructions:hover, #clear:hover { cursor: pointer; }

#input {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	justify-content: space-between;
}

#title a {
	font-family: starNormal;
	color: white;
	text-decoration: none;
	font-size: xx-large;
}

#stats { font-size: x-large; color: #ffd640; }

#stats li { list-style: hiragana-iroha; }

.paragraph { font-size: large; color: #e66a37; }


/* Media queries */
@media (max-width: 1700px) {
	#input {
		flex-direction: column;
		width: 20%;
	}

	#distance { width: 94%; }
}

@media (max-width: 750px) {
	#distance, #calculator, #instructions, #clear { font-size: small; }
	#distance { width: 200px; }
}
